.Search {
    text-align: center;
    background-color: #fd9e7f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Search-logo {
    height: 30vmin;
}
